*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	list-style: none;/* 列表标签的默认样式 */
	text-decoration: : none;/* 清除下划线 */
}
img{

    vertical-align: top;
    -ms-interpolation-mode: bicubic;


}
.banner li img{
	width: 100%;
	height: 100%;
}
/* img, fieldset {
    border: 0 none;
} */
ul, ol {
	list-style: none;
}
body, dl, dd, ul, ol, figure, h1, h2, h3, h4, h5, h6, p, pre, blockquote, form, fieldset, legend, input, button, select, textarea {
    margin: 0;
    padding: 0;
}
iframe {
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}
iframe {
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}
.mod-orient-layer {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #000;
    z-index: 9997;
}
.mod-orient-layer__content {
    position: absolute;
    width: 100%;
    top: 45%;
    margin-top: -75px;
    text-align: center;
}
.mod-orient-layer__icon-orient {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIYAAADaCAMAAABU68ovAAAAXVBMV…z/7GtP4B3nMKyjHA12kIPSjnJs3FEO0TvKkYJHOWCR+rjJH0Vn6fI5PjNbAAAAAElFTkSuQmCC);
    display: inline-block;
    width: 67px;
    height: 109px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -webkit-animation: rotation infinite 1.5s ease-in-out;
    animation: rotation infinite 1.5s ease-in-out;
    -webkit-background-size: 67px;
    background-size: 67px;
}
i, cite, em, var, address, dfn {
    font-style: italic;
}
.mod-orient-layer__content {
    position: absolute;
    width: 100%;
    top: 45%;
    margin-top: -75px;
    text-align: center;
}
.mod-orient-layer__desc {
    margin-top: 20px;
    font-size: 15px;
    color: #fff;
}