/*导航栏开始*/
iframe {
	border-width: 2px;
	border-style: inset;
	border-color: initial;
	border-image: initial;
}

header{
	background: url(../imgs/bg-1.jpg) 50% 0 no-repeat;
	width: 100%;
	padding: 10px 0;
	border-bottom: 5px solid #7f5136;
	position: fixed;
	top: 0;
	z-index: 999999;
}
.container {
	width: 1000px;
	margin: 0 auto;
	padding: 1px 0;
	position: relative;
}
.clearfix {
	zoom: 1;
}
.logo{
	float: left;
}
.logo a{
	width: 100%;
	display: block;
}
.logo img{
	width: 100%;
}
img{
	vertical-align: top;
}
img, fieldset {
	border: 0 none;
}
header nav {
	margin: 15px 0 0;
	float: right;
}
nav, section {
	display: block;
}
.displayMobile {
	display: none;
}
header nav ul, header nav li {
	font-size: 0;
}

header nav li {
	display: inline-block;
}
header nav>ul>li>a {
	font-size: 15px;
	line-height: 30px;
	color: #a6652e;
	text-align: center;
	width: 85px;
	display: inline-block;
}
a, a:link {
	text-decoration: none;
}
header nav>ul>li>span {
	vertical-align: top;
	height: 11px;
	margin-top: 8px;
	border-right: 1px solid #cea27b;
	display: inline-block;
}
header .displayPc {
	display: inline-block;
}
header nav>ul>li:last-child>a {
	padding-right: 0;
}
/*导航栏结束*/
/* 选项栏开始 */
.menuNav {
    background: #fcf1df;
    height: 92px;
    position: relative;
    z-index: 1;
    margin-top: 85px;
}
.container {
    width: 1000px;
    margin: 0 auto;
    padding: 1px 0;
    position: relative;
}
.menuNav .subnavMenu {
    font-size: 0;
    width: 1000px;
}
.menuNav .subnavMenu li {
    text-align: center;
    background: #fcf1df;
    display: inline-block;
}
.menuNav .subnavMenu {
    font-size: 0;
    width: 1000px;
}
.menuNav .subnavMenu .discovery {
    background-position: 0 0;
    width: 80px;
}
.menuNav .subnavMenu a:hover, .menuNav .subnavMenu .active {
    text-decoration: none;
    background-color: #fff;
}
.menuNav .subnavMenu a {
    font-size: 12px;
    line-height: 41px;
    color: #a6652e;
    text-align: center;
    background-image: url('../imgs/subnav_menu.png');
    background-repeat: no-repeat;
    height: 90px;
    padding: 50px 0 0;
    display: inline-block;
    position: relative;
}
a:visited {
    text-decoration: none;
}
a, a:link {
    text-decoration: none;
}
a, a:focus {
    outline: none;
}
a, a:active, a:hover {
    outline: none;
}
a:-webkit-any-link {
/*     color: -webkit-link; */
    cursor: auto;
    text-decoration: underline;
}
a:visited {
    text-decoration: none;
}
a, a:link {
    text-decoration: none;
}

a, a:focus {
    outline: none;
}
a, a:active, a:hover {
    outline: none;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: auto;
    text-decoration: underline;
}
.menuNav .subnavMenu .mutton {
    background-position: -148px 0;
    width: 68px;
}
.menuNav .subnavMenu .beef {
    background-position: -216px 0;
    width: 68px;
}
.menuNav .subnavMenu .seafood {
    background-position: -284px 0;
    width: 68px;
}
.menuNav .subnavMenu .hotpot {
    background-position: -352px 0;
    width: 68px;
}
.menuNav .subnavMenu .meatball {
    background-position: -420px 0;
    width: 74px;
}
.menuNav .subnavMenu .vegetable {
    background-position: -494px 0;
    width: 74px;
}
.menuNav .subnavMenu .refresh {
    background-position: -568px 0;
    width: 68px;
}
.menuNav .subnavMenu .hardcore {
    background-position: -636px 0;
    width: 68px;
}
.menuNav .subnavMenu .riceflour {
    background-position: -704px 0;
    width: 80px;
}
.menuNav .subnavMenu .condiment {
    background-position: -784px 0;
    width: 80px;
}
.menuNav .subnavMenu .quenchthirst {
    background-position: -864px 0;
    width: 68px;
}
.menuNav .subnavMenu .wine {
    background-position: -932px 0;
    width: 68px;
}
.menuNav .subnavMenu .active:after {
    content: "";
    width: 0;
    height: 0;
    margin-left: -8px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #fff;
    position: absolute;
    left: 50%;
    top: 100%;
}
/* 选项栏结束 */
/* 菜单展示区开始 */
.dkk{
	width: auto;
	height: auto;
	position: relative;
}
.content {
    background: url('../imgs/discovery_bg.jpg') 50% 0 no-repeat;
    height: 1370px;
    position: relative;
    z-index: 0;
}
.container {
    width: 1000px;
    margin: 0 auto;
    padding: 1px 0;
    position: relative;
}
.pageTitle {
    font-size: 38px;
    line-height: 50px;
    font-weight: bold;
    text-align: center;
    color: #875b36;
    padding: 60px 0 30px;
}
.pageTitle i {
    font-size: 0;
    line-height: 0;
    vertical-align: middle;
    padding: 0 35px;
    border-top: 1px solid #ceac7d;
}
.pageTitle span {
    font-size: 42px;
    font-weight: normal;
    padding: 0 10px;
}
.discoveryProduct1 {
    margin-top: 33px;
    position: relative;
}
.displayPc {
    display: block;
    margin: -150px auto;
}
.discoveryProduct2 {
    margin: 166px 0 0 150px;
    position: relative;
}
.discoveryProduct3 {
    margin: 20px 0 0 -60px;
    position: relative;
}
/* 菜单展示区结束 */
/* 菜品展示区2开始 */

/* 菜品展示区2结束 */

script {
    display: none;
}
.solePage .container, .muttonPage .container, .beefPage .container, .seafoodPage .container, .hotpotPage .container, .meatballPage .container, .vegetablePage .container, .refreshPage .container, .hardcorePage .container, .riceflourPage .container, .condimentPage .container, .quenchthirstPage .container, .winePage .container {
    padding-bottom: 0;
}
.container {
    width: 1000px;
    margin: 0 auto;
    padding: 1px 0;
    position: relative;
}
.pageTitle {
    font-size: 38px;
    line-height: 50px;
    font-weight: bold;
    text-align: center;
    color: #875b36;
    padding: 60px 0 30px;
}
.clearfix {
    zoom: 1;
}
/* 底部开始 */
footer {
	width: auto;
	height: 54px;
    background: #007c7d;
    position: relative;
}
footer .gototop {
    background: url('../imgs/gototop.png') 0 0 no-repeat;
    width: 74px;
    height: 74px;
    position: absolute;
    top: -90px;
    right: 0;
}
footer .container {
    padding: 0;
}
.container {
    width: 1000px;
    margin: 0 auto;
    padding: 1px 0;
    position: relative;
}
footer .logo {
    width: 60px;
    margin-left: -30px;
    position: absolute;
    left: 50%;
    top: -30px;
    overflow: hidden;
}
footer .logo a {
    width: 321.7%;
}
.logo a {
    width: 100%;
    display: block;
}
.logo img {
    width: 100%;
}
footer .displayPc {
    display: inline-block;
}
.copyrights {
    font-size: 12px;
    line-height: 50px;
    color: #8ccccd;
    float: left;
}
.displayPc {
    display: block;
    margin: 0 auto;
}
footer nav {
    margin-right: -150px;
    float: right;
}
footer nav li {
    font-size: 12px;
    line-height: 50px;
    color: #8ccccd;
    height: 50px;
    overflow: hidden;
    display: inline-block;
}
footer nav li .wechat_weibo {
    position: relative;
}
footer nav li a {
    font-size: 12px;
    line-height: 50px;
    color: #8ccccd;
    vertical-align: top;
    height: 50px;
    padding: 0 8px;
    display: inline-block;
}
footer nav li span {
    vertical-align: top;
    height: 15px;
    margin-top: 18px;
    border-right: 1px dotted #dfdfdf;
    display: inline-block;
}
footer nav li {
    font-size: 12px;
    line-height: 50px;
    color: #8ccccd;
    height: 50px;
    overflow: hidden;
    display: inline-block;
}
.copyrights {
    font-size: 12px;
    line-height: 50px;
    color: #8ccccd;
    float: left;
}
.shiping3{
	position: absolute;
	left:-84px;
	top: -357px;
}
/* 底部结束 */