/*导航栏开始*/
iframe {
	border-width: 2px;
	border-style: inset;
	border-color: initial;
	border-image: initial;
}

header{
	background: url(../imgs/bg-1.jpg) 50% 0 no-repeat;
	width: 100%;
	padding: 10px 0;
	border-bottom: 5px solid #7f5136;
	position: fixed;
	top: 0;
	z-index: 999999;
}
.container {
	width: 1000px;
	margin: 0 auto;
	padding: 1px 0;
	position: relative;
}
.clearfix {
	zoom: 1;
}
.logo{
	float: left;
}
.logo a{
	width: 100%;
	display: block;
}
.logo img{
	width: 100%;
}
img{
	vertical-align: top;
}
img, fieldset {
	border: 0 none;
}
header nav {
	margin: 15px 0 0;
	float: right;
}
nav, section {
	display: block;
}
.displayMobile {
	display: none;
}
header nav ul, header nav li {
	font-size: 0;
}

header nav li {
	display: inline-block;
}
header nav>ul>li>a {
	font-size: 15px;
	line-height: 30px;
	color: #a6652e;
	text-align: center;
	width: 85px;
	display: inline-block;
}
a, a:link {
	text-decoration: none;
}
header nav>ul>li>span {
	vertical-align: top;
	height: 11px;
	margin-top: 8px;
	border-right: 1px solid #cea27b;
	display: inline-block;
}

header .displayPc {
	display: inline-block;
}
header nav>ul>li:last-child>a {
	padding-right: 0;
}
/*导航栏结束*/
/* 区域1开始 */
.soupmeatPara1{
    background: url('../imgs/soupmeat_img_1.jpg') 50% 0 no-repeat;
    height: 1011px;
    margin-top: 75px;
}
.soupmeatPara2 {
    background: url('../imgs/soupmeat_img_2.jpg') 50% 0 no-repeat;
    height: 1011px;
}
/* 区域1结束 */
/* 底部开始 */
/* 底部开始 */
footer {
	width: auto;
	height: 54px;
    background: #007c7d;
    position: relative;
}
footer .gototop {
    background: url('../imgs/gototop.png') 0 0 no-repeat;
    width: 74px;
    height: 74px;
    position: absolute;
    top: -90px;
    right: 0;
}
footer .container {
    padding: 0;
}
.container {
    width: 1000px;
    margin: 0 auto;
    padding: 1px 0;
    position: relative;
}
footer .logo {
    width: 60px;
    margin-left: -30px;
    position: absolute;
    left: 50%;
    top: -30px;
    overflow: hidden;
}
footer .logo a {
    width: 321.7%;
}
.logo a {
    width: 100%;
    display: block;
}
.logo img {
    width: 100%;
}
footer .displayPc {
    display: inline-block;
}
.copyrights {
    font-size: 12px;
    line-height: 50px;
    color: #8ccccd;
    float: left;
}
.displayPc {
    display: block;
    margin: 0 auto;
}
footer nav {
    margin-right: -150px;
    float: right;
}
footer nav li {
    font-size: 12px;
    line-height: 50px;
    color: #8ccccd;
    height: 50px;
    overflow: hidden;
    display: inline-block;
}
footer nav li .wechat_weibo {
    position: relative;
}
footer nav li a {
    font-size: 12px;
    line-height: 50px;
    color: #8ccccd;
    vertical-align: top;
    height: 50px;
    padding: 0 8px;
    display: inline-block;
}
footer nav li span {
    vertical-align: top;
    height: 15px;
    margin-top: 18px;
    border-right: 1px dotted #dfdfdf;
    display: inline-block;
}
footer nav li {
    font-size: 12px;
    line-height: 50px;
    color: #8ccccd;
    height: 50px;
    overflow: hidden;
    display: inline-block;
}
.copyrights {
    font-size: 12px;
    line-height: 50px;
    color: #8ccccd;
    float: left;
}
/* 底部结束 */

/* 底部结束 */